.search{

    width: 100%;
    height: 40px;
    background-color: rgb(229, 233, 235);
    border-radius: 20px;
    border: none;
}


  .card {
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
    }
    
    .card {
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
    margin-bottom: 1em;
    }
    .card:hover {
    transform: scale(1.1);
    }
    
    .col:hover{
      transform: scale(1.0);
      transition: 1s;
      }
    